<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Song #<%= @song.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Artist</dt>
              <dd><%= @song.artist %></dd>

              <dt>Title</dt>
              <dd><%= @song.title %></dd>

              <dt>Genre</dt>
              <dd><%= @song.genre %></dd>

              <dt>Lyrics</dt>
              <dd><%= @song.lyrics %></dd>

              <dt>User</dt>
              <dd><%= @song.user %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), songs_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_song_path(@song), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @song, method: :delete, data: { confirm: "Do you really want to delete this song?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
