<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Venue #<%= @venue.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @venue.name %></dd>

              <dt>Address</dt>
              <dd><%= @venue.address %></dd>

              <dt>City</dt>
              <dd><%= @venue.city %></dd>

              <dt>Description</dt>
              <dd><%= @venue.description %></dd>

              <dt>User</dt>
              <dd><%= @venue.user %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), venues_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_venue_path(@venue), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @venue, method: :delete, data: { confirm: "Do you really want to delete this venue?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
