<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-12 col-lg-offset-0 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @venue.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6" "col-md-6" "col-lg-6">
            <dl class="dl-horizontal">
              <dt>Address</dt>
              <dd><%= @venue.address %></dd>

              <dt>City</dt>
              <dd><%= @venue.city %></dd>

              <dt>Description</dt>
              <dd><%= @venue.description %></dd>

              <!-- <dt>There are</dt> -->
              <hr>
              <dd><h1 align="center"><%= @venue.checkins.count %></h1>performers have checked in @ <%= @venue.name %> tonight!</dd>
            </dl>
<hr>
    <% if current_user.present? %>
            <div class="row">

                <% if current_user.is_checked_in == true %>
                          <%= form_tag("/checkins/#{params[:id]}/check_out", method:"post") do %>
                            <div align="center">
                              <label for="Checkout" >Ready to Checkout?: </label>
                                    <input align="right" type="submit" value="Checkout">
                            </div>
                          <% end %>
                <% else %>
                     <div class="col-lg-12" align="center">
                          <dt>Check In at <%= @venue.name %> <%= link_to icon('check'), new_checkin_path( :venue_id => params[:id], :user_id => (current_user.id) ), class: "btn btn-lg btn-success" %></dt>
                    </div>
              <% end %>
            </div>
    <% end %>
          </div> <!-- end col-md-12 -->
          <div class="col-sm-6" "col-md-6" "col-lg-6">
            <dt align="center"><%= @venue.name %></dt>
              <div class="main-image-container" align="center">
                <img class="main-image" src="http://cdn2-b.examiner.com/sites/default/files/styles/image_content_width/hash/29/7f/297f4ef60d41d6952b4d933de47c9bff.jpg?itok=jhABVE2M" alt="Image from the Venue">
              </div>
                <div align=center>
                  <span><a href="#">My Rating</a></span>
                    <div class="inline-rating">
                      <i class="fa fa-star fa-3x"></i>
                      <i class="fa fa-star fa-3x"></i>
                      <i class="fa fa-star fa-3x"></i>
                      <i class="fa fa-star fa-3x"></i>
                      <i class="fa fa-star fa-3x"></i>
                    </div>
                </div>
          </div>
        </div> <!-- end panel row -->
      </div> <!-- end panel body -->
    </div> <!-- end panel panel-default -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Who's Checked In</h3>
      </div>
      <div class="panel-body">
      <% @venue.checkins.each do |checkin| %>
        <% if current_user.is_checked_in == false %>

          <div class="row">
            <ul class="list-group" align="center">
              <li class="list-group-item">
                <dt align="left">
                <%= checkin.user.stagename %> has checked out.
                </dt>
              </li>
            </ul>
          </div> <!-- end div row -->

        <% else %>

          <div class="row">
            <ul class="list-group" align="center">
              <li class="list-group-item">
                <dt align="left">
                <%= image_tag checkin.user.avatar, :height => '50px', :width => '50px', :class => 'img-circle' %>
                </dt>
                <dt align="left">
                <%= checkin.user.stagename %> <%= checkin.created_at.strftime("checked in on %B %d at %I: %M %p") %>
                </dt>
              </li>
            </ul>
          </div> <!-- end div row -->

        <% end %> <!-- end if statement  -->
      <% end %>  <!-- end do statement -->

      </div>  <!-- end panel body -->
    </div> <!-- end panel panel-default -->

<!-- REQUEST QUEUE -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Request Queue</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <!-- <div class="col-sm-6" "col-md-6" "col-lg-6"> -->
              <ul class="list-group" align="center">
                <% @venue.requests.each do |request| %>
                  <%# if request.venue_id == current_user.checkin.venue_id %>
                    <li class="list-group-item">
                      <dt align="left">
                      <%= image_tag request.user.avatar, :height => '50px', :width => '50px', :class => 'img-circle' %>
                      </dt>
                      <dt align="left">
                        <%= request.user.stagename %> requested <%= request.song.try(:title) %>
                      </dt>
                    </li>
                  <%# end %> <!-- end if -->
              </ul>
                <% end %> <!-- end do -->
          <!-- </div> --> <!-- end col -->
        </div> <!-- end row -->
      </div>  <!-- end panel body -->
    </div> <!-- end panel panel-default -->

<!--               <dt>Requests</dt>
              <%# @checkin.requests.each do |request| %>
                <li>
                  <dd><%#= song.title %></dd>
                  <div class="inline-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </li>
              <%# end %> -->


<!-- PERFORMANCE QUEUE -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Performance Queue</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <!-- <div class="col-sm-6" "col-md-6" "col-lg-6"> -->

              <ul class="list-group" align="center">
                <% @venue.performances.each do |performance| %>
                  <% if performance.completed == false %>
                    <li class="list-group-item">
                      <dt align="left">
                        <%= image_tag performance.user.avatar, :height => '50px', :width => '50px', :class => 'img-circle' %>
                      </dt>
                      <dt align="left">
                      <%= performance.user.stagename %> <%= performance.created_at.strftime("performed on %B %d at %I: %M %p") %>
                      </dt>
                    </li>
                  <% end %> <!-- end if -->
              </ul>
          <% end %> <!-- end do -->
          <!-- </div> --> <!-- end col -->
        </div> <!-- end row -->
      </div>  <!-- end panel body -->
    </div> <!-- end panel panel-default -->


  </div> <!-- end div class column offset -->
</div> <!-- end div row -->

<!-- End responsive panel example -->


