<div class="container">
<!-- Left Column -->
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <h2 align="left"><em>Shareaoke ("shar-e-OH-kee"): 101</em></h2><br>
    <!-- <div class="row"> -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="left">
        <ul style="list-style-type:none">
          <li><i class="fa fa-glass fa-1x"></i>     Check In to a Bar</li><p>
          <li><i class="fa fa-music fa-1x"></i>     Select a Song</li><p>
          <li><i class="fa fa-microphone fa-1x"></i>     Perform</li><p>
          <li><i class="fa fa-star fa-1x"></i>     Be a Rockstar</li><p>
          <li><i class="fa fa-refresh fa-1x"></i>     Repeat</li>
        </ul>
      </div>

<!--       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="left">
        <tbody>
          <tr><td><i class="fa fa-glass fa-2x"></td><td>Check in to a bar</td></tr>
          <tr><td><i class="fa fa-music fa-2x"></td><td>Select a Song</td></tr>
          <tr><td><i class="fa fa-microphone fa-2x"></td><td>Sing it</td></tr>
        </tbody>
      </div> -->

    <!-- </div> -->
  </div>
<!-- Right Column -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <h2 align="right">Log in</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

