<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Performance #<%= @performance.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Rating</dt>
              <dd><%= @performance.rating %></dd>

              <dt>Comment</dt>
              <dd><%= @performance.comment %></dd>

              <dt>Completed</dt>
              <dd><%= @performance.completed %></dd>

              <dt>User</dt>
              <dd><%= @performance.user %></dd>

              <dt>Song</dt>
              <dd><%= @performance.song %></dd>

              <dt>Venue</dt>
              <dd><%= @performance.venue %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), performances_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_performance_path(@performance), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @performance, method: :delete, data: { confirm: "Do you really want to delete this performance?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
