<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Performance #<%= @performance.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
  <!--             <dt>Completed</dt>
              <dd><%= @performance.completed %></dd> -->

              <dt>Performer</dt>
              <dd><%= @performance.user.stagename %></dd>
              <dd><%= image_tag @performance.user.avatar, :height => '100px', :width => '100px', :class => 'img-circle' %></dd>

              <dt>Song</dt>
              <dd>"<%= @performance.song.title %>" originally performed by <%= @performance.song.artist %></dd>

              <!-- <dt>Venue</dt> -->
              <!-- <dd><%#= @performance.venue.name %></dd> -->

              <dt>Comment</dt>
              <dd><%= @performance.comment %></dd>

              <dt>Rating</dt>
              <dd><%= @performance.rating %></dd>
            </dl>
            <hr>

        <% if @performance.completed == false %>
              <div class="btn-group btn-group-justified">
                <!-- <div class="container"> -->
                  <!-- <div class="col-xs-3" "col-md-3" "col-lg-3"> -->
                    <!-- <dt align="center">End</dt> -->
                    <%= link_to icon('thumbs-up'), edit_performance_path(), class: "btn btn-success" %>
                  <!-- </div> -->
                  <!-- <div class="col-xs-3" "col-md-3" "col-lg-3"> -->
                    <!-- <dt align="center">Back</dt> -->
                    <%= link_to icon('backward'), :performances, class: "btn btn-primary" %>
                  <!-- </div> -->
               <!--  </div> -->

            <% else %>
                <dt align="center">DJ - this performance is over!</dt>
                <dd align="center"><%= link_to icon('backward'), :performances, class: "btn btn-danger" %></dd>
            <% end %>
                  <%#= link_to icon('edit'), edit_performance_path(@performance), class: "btn btn-warning" %>

                  <%#= link_to icon('trash-o'), @performance, method: :delete, data: { confirm: "Do you really want to delete this performance?" }, class: "btn btn-danger" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
